.PageEvent {
    padding-left: 2px;
    padding-right: 2px;
}

.eventFloor {
    svg {
        cursor: default;
        user-select: none;
        background-color: #333;
        border-radius: $border-radius;
        max-height: 100vh;
    }

    rect.table__blink,
    circle.table__blink {
        animation: blink 500ms linear infinite;
    }

    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0;
        }
    }
}
