<template>
  <div class="FTFeed">
    <!-- Page title -->
    <h5 v-if="title" class="q-ma-sm text-weight-bolder">{{ title }}</h5>

    <q-timeline layout="dense" side="right" color="secondary">
      <q-timeline-entry
        v-for="(item, index) in feed"
        :key="index"
        :title="item.title"
        :subtitle="$options.filters.timestampToString(item.timestamp)"
        side="left"
      >
        <div>{{ item.body }}</div>
      </q-timeline-entry>
    </q-timeline>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
    name: "FTFeed",
    props: { title: { type: String } },
    computed: { ...mapState("feed", ["feed"]) }
};
</script>
