.EventCard {
    &__header {
        display: grid;
        grid-template-columns: 1fr auto;
        place-items: center;

        .event-name {
            width: 100%;
            text-align: left;
        }
    }
}
.flex-v-center {
    display: flex;
    align-items: center;
}
