.quasar
.DS_Store
.thumbs.db
.firebase
firebase.config.js
algolia.config.js
node_modules
packages/frontend/dist
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__screenshots__
tsconfig.tsbuildinfo
coverage

.env
.firebaserc

/packages/backend/src/firebase/fb-config.json
packages/frontend/src/boot/sentry.json
cypress.env.json
cypress.json
**/jest/coverage/
**/coverage/
**/test-results
**/playwright-report

# Editor directories and files
.fleet
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/test/audits/snyk.json
cert.pem
key.pem

firebase-export-*

*.log
local-db
dist
dist-esbuild
lib
