rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        // General rule for all documents to be readable/writable by authenticated users
        match /{document=**} {
            allow read, write: if request.auth != null;
        }

        // Specific rules for the organizations collection
        match /organizations/{organisationId} {
            // Only Administrator can create or modify organizations
            allow write: if request.auth.token.role == 'Administrator';

            // Allow read if the user is an administrator or belongs to the organization
            allow read: if request.auth.token.role == 'Administrator'
                || request.auth.token.organizationId == organisationId;
        }
    }
}
