@use "variables" as *;

html {
    font-family: 'Inter', 'Segoe UI', sans-serif;
    font-size: .9rem;
}

* {
    text-rendering: optimizeLegibility;
}

.ft-card {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

.text-tertiary {
    color: $tertiary;
}

