@import "helpers";
@import "gradients";
@import "floor";

@font-face {
    font-family: "Product Sans";
    src: url("product-sans.woff");
}

@-o-viewport {
    user-zoom: fixed;
}

* {
    font-family: "Product Sans", sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    letter-spacing: 0.8px;
    background: #f8f8f8;
    -webkit-transition: background-color .3s ease;
}

.ft-logo {
    max-width: 256px;
}

.font-black {
    font-weight: 900;
}

.ft-card {
    border-radius: .5rem;
    box-shadow: $box-shadow;
}

.ft-avatar {
    border: 1px solid #888;
}

.firebase-emulator-warning {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
