@import "variables";

.gradient-warning {
    background: rgba($warning, 0.85);
}

.gradient-positive {
    background: rgba($positive, 0.85);
}

.gradient-pink {
    background: rgba($pink, 0.85);
}

.button-gradient {
    background-image: $gradient-primary;
    color: #fff !important;
    background-size: 200% 100%;
    background-position: 50%;
    transition: background-position 0.1s ease-out;
    &:hover {
        background-position: 10%;
        background-color: unset;
    }
}
