@import "quasar.variables";

.bg-warning-shadow {
    box-shadow: 0 0 5px 5px rgba($warning, 0.15);
    background: rgba($warning, 0.15);
}

.gradient-warning {
    background: rgba($warning, 0.85);
}

.gradient-positive {
    background: rgba($positive, 0.85);
}

.gradient-pink {
    background: rgba($pink, 0.85);
}

.button-gradient {
    background-image: $gradient-primary;
    color: #fff;
    background-size: 200% 100%;
    background-position: 50%;
    transition: background-position 0.1s ease-out;
    &:hover {
        background-position: 10%;
        background-color: unset;
    }
}

.text-gradient {
    background: $gradient-primary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.bg-gradient {
    background: $gradient-primary;
}
