// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
$primary   : #6247aa;
$secondary : #8faa47;
$tertiary  : #AA475E;
$quaternary: #47AA93;

$accent    : #9c27b0;
$positive  : rgb(40,199,111);
$negative  : rgb(234,84,85);
$info      : #31CCEC;
$warning   : rgb(255,159,67);

$pink      : #f687b3;
$green     : #68d391;
$indigo    : #7f9cf5;

$bg-dark   : #222;

$border-radius: .5rem;

$gradient-primary: linear-gradient(316deg, $primary 0%, #a594f9 74%);
$gradient-primary-reversed: linear-gradient(316deg, $secondary 0%, $primary 74%);

$box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
