<template>
  <div class="UserCreateForm">
    <q-card>
      <q-banner inline-actions rounded class="bg-gradient text-white">
        <template v-slot:avatar>
          <q-btn v-close-popup="1" round class="q-mr-sm" flat icon="ti-close" />
        </template>
        Create new user
      </q-banner>
      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md q-pt-md q-pa-md"
      >
        <q-input
          outlined
          rounded
          v-model="form.name"
          label="User name *"
          hint="Name of the person"
          lazy-rules
          :rules="stringRules"
        />

        <q-input
          outlined
          rounded
          v-model="form.email"
          type="email"
          suffix="@firetable.at"
          label="User email *"
          :rules="stringRules"
          hint="Enter new user email suffixed with @firetable.at"
        >
          <template v-slot:prepend>
            <q-icon name="ti-email" />
          </template>
        </q-input>

        <q-input
          outlined
          rounded
          v-model="form.password"
          label="User password *"
          hint="Password of the user"
          lazy-rules
          :rules="stringRules"
        >
          <template v-slot:prepend>
            <q-icon name="ti-key" />
          </template>
        </q-input>

        <q-select
          hint="Assign role to user, default is waiter."
          outlined
          rounded
          v-model="form.role"
          :options="roles"
          label="Role"
        />
        <q-select
          hint="Assign areas to user, multiple areas are allowed."
          outlined
          rounded
          v-model="form.areas"
          multiple
          :options="areas"
          label="Areas"
        />

        <div>
          <q-btn label="Submit" type="submit" class="button-gradient" />
          <q-btn
            outline
            label="Reset"
            type="reset"
            color="primary"
            class="q-ml-sm"
          />
        </div>
      </q-form>
    </q-card>
  </div>
</template>

<script>
import { User } from "./../../config/user";
import { Roles } from "./../../config/roles";
export default {
    name: "UserCreateForm",
    props: {
        areas: {
            type: Array,
            required: true
        }
    },
    data () {
        return {
            form: { ...User },
            stringRules: [(val) => {
                return val && val.length > 0 || "Please type something";
            }]
        };
    },
    computed: {
        roles () {
            return Object.values(Roles);
        }
    },
    methods: {
        onSubmit () {
            this.$emit("submit", this.form);
        },
        onReset () {
            this.form = { ...User };
        }
    }
};
</script>
