.status-dot {
    height: 0.8rem;
    width: 0.8rem;
    position: absolute;
    top: 80%;
    left: 80%;
    border-radius: 100%;
    background-color: gray;

    &.green {
        background-color: green;
    }
}
.q-item.q-router-link--active {
    width: 95%;
    margin: auto;
    background: $gradient-primary;
    box-shadow: 0 0 10px 1px rgba($primary, 0.7);
    color: white;
    border-radius: $border-radius;
}
