.AppTopMenu {
    &__tabs {
        border-radius: $border-radius;
        padding-left: 1rem;
        padding-right: 1rem;

        .q-tabs__content {
            justify-content: space-evenly;
        }
    }
}
