body.body--dark {
    background: #333;
}

.ft-tab-pane {
    display: none;
}

.ft-tab-pane.active.show {
    display: block;
}

.eventFloor {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
