circle.table, rect.table {
    stroke-width: 1px;
    stroke: #000;
    cursor: pointer;
    fill: #333;
}

text.table__id {
    fill: #fff !important;
    font-weight: bold;
    text-anchor: middle;
    alignment-baseline: middle;
}

rect.wall {
    fill: #666;
}

body.body--dark {
    background: #333;
    rect.table,
    circle.table {
        fill: #444;
    }
}

rect.table.reserved,
circle.table.reserved {
    fill: #2ab7ca !important;
}

rect.table.reserved.confirmed,
circle.table.reserved.confirmed {
    fill: #1a7722 !important;
}

.eventFloor.tab-pane {
    display: none;
}
.eventFloor.tab-pane.active.show {
    display: block;
}
