<template>
    <div class="pageSettings">
        <!-- Page title -->
        <h5 class="q-ma-sm text-weight-bolder">Settings</h5>

        <div>
            <q-input
                filled
                v-model="settings.primaryColor"
                class="my-input"
                hint="Choose primary color."
            >
                <template v-slot:append>
                    <q-icon name="ti-palette" class="cursor-pointer">
                        <q-popup-proxy
                            transition-show="scale"
                            transition-hide="scale"
                        >
                            <q-color
                                style="width: 100%"
                                v-model="settings.primaryColor"
                            />
                        </q-popup-proxy>
                    </q-icon>
                </template>
            </q-input>
            <q-btn label="Save" @click="saveSettings"></q-btn>
        </div>
    </div>
</template>

<script>
export default {
    name: "PageSettings",
    data () {
        return { settings: { primaryColor: "" } };
    },
    methods: {
        saveSettings () {
            // TODO: Create settings saver
        }
    }
};
</script>
