<template>
    <div class="PageMapSettings">
        <mapEditor :data="loadData" :mode="mapMode" @change="onMapChange" />
    </div>
</template>

<script>
import { mapActions } from "vuex";
import { MODES } from "../../classes/Map";
import { showErrorMessage } from "../../helpers/UI-helpers";
import mapEditor from "../../components/Map/MapEditor";

export default {
    name: "PageMapSettings",
    components: { mapEditor },
    data () {
        return { data: [] };
    },
    computed: {
        mapMode () {
            return MODES.EDITOR;
        }
    },
    methods: {
        ...mapActions("settings", ["saveDefaultMap", "getDefaultMap"]),
        async onMapChange (region) {
            this.$q.loading.show();
            try {
                await this.saveDefaultMap(region);
            } catch (error) {
                showErrorMessage(e);
            }
            this.$q.loading.hide();
        },
        /**
         * Load defaultMap tables from settings
         *
         * @return {Promise}
         */
        async loadData () {
            const map = await this.getDefaultMap();

            return !map.empty
                ? map.docs.map((region) => {
                    return region.data();
                })
                : [];
        }
    }
};
</script>
