<template>
  <div ref="lineChart" class="EventChart"></div>
</template>

<script>
import Highcharts from "highcharts";
/* Alternatively, this is how to load Highstock. Highmaps is similar.
   import Highcharts from 'highcharts/highstock'; */

// Load the exporting module.
import Exporting from "highcharts/modules/exporting";
// Initialize exporting module.
Exporting(Highcharts);

export default {
    name: "EventChart",
    props: {
        eventData: {
            type: Array,
            required: true
        }
    },
    mounted () {
        const reservations = this.eventData.filter((event) => {
            return event.reservation;
        });
        let reservationData = reservations.filter((event) => {
            return event.reservation;
        });
        reservationData = Object.values(
            reservationData.reduce((acc, curr) => {
                if (!acc[curr.reservation.reservedBy.id]) {
                    acc[curr.reservation.reservedBy.id] = {
                        name: curr.reservation.reservedBy.name,
                        reservations: 1,
                        came: curr.reservation.came ? 1 : 0
                    };
                } else {
                    acc[curr.reservation.reservedBy.id].reservations++;
                    if (curr.reservation.came) {
                        acc[curr.reservation.reservedBy.id].came++;
                    }
                }
                return acc;
            }, {})
        );

        const chart = { type: "bar" };
        const title = { text: "Reservations status" };
        const xAxis = {
            categories: reservationData.map((reservation) => {
                return reservation.name;
            }),
            title: { text: null }
        };
        const yAxis = {
            min: 0,
            title: {
                text: `Reservations count(${reservations.length})`,
                align: "high"
            },
            labels: { overflow: "justify" }
        };
        const tooltip = { valueSuffix: "" };
        const plotOptions = {
            bar: { dataLabels: { enabled: true } },
            series: { stacking: "normal" }
        };
        const legend = {
            layout: "vertical",
            align: "right",
            verticalAlign: "top",
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: Highcharts.theme && Highcharts.theme.legendBackgroundColor || "#FFFFFF",
            shadow: true
        };
        const credits = { enabled: false };
        const series = [
            {
                name: "Confirmed",
                data: reservationData.map((reservation) => {
                    return reservation.came;
                })
            },
            {
                name: "Pending",
                data: reservationData.map(
                    (reservation) => {
                        return reservation.reservations - reservation.came;
                    }
                )
            }
        ];

        // Generate the chart
        Highcharts.chart(this.$refs.lineChart, {
            chart,
            title,
            tooltip,
            xAxis,
            yAxis,
            series,
            plotOptions,
            legend,
            credits
        });
    }
};
</script>

<style lang="scss"></style>
