<template>
  <q-card style="min-width: 350px">
    <q-banner inline-actions rounded class="bg-gradient text-white">
      <template v-slot:avatar>
        <q-btn round class="q-mr-sm" flat icon="ti-close" v-close-popup="1" />
      </template>
      Create new event
    </q-banner>
    <input
      ref="filePicker"
      type="file"
      accept="image/jpeg"
      required
      @change="onFileChosen($event)"
      style="display: none"
    />

    <q-img
      v-if="form.eventImg"
      :src="form.eventImg"
      :ratio="1"
      class="q-mb-md"
    />
    <div v-else class="q-pa-lg q-mb-md bg-grey text--black text-center">
      Event Photo
    </div>

    <q-btn
      class="button-gradient q-ml-md"
      icon="ti-camera"
      @click="$refs.filePicker.click()"
      label="Upload a photo"
    />

    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md q-pt-md q-pa-md"
    >
      <q-input
        rounded
        outlined
        v-model="form.eventName"
        label="Event name*"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Please type something']"
      />

      <q-input
        rounded
        outlined
        type="number"
        v-model="form.eventGuestListCount"
        label="Max number of guests"
        lazy-rules
        :rules="[
          val =>
            (val !== null && val !== '') ||
            'Please enter maximum number of guests on guest list',
          val => val > 0 || 'Please enter a valid number!'
        ]"
      />

      <q-input
        rounded
        outlined
        type="number"
        v-model="form.eventEntryPrice"
        label="Entry price, leave 0 if free"
        lazy-rules
        :rules="[
          val =>
            (val !== null && val !== '') ||
            'Please enter maximum number of guests on guest list'
        ]"
      />

      <q-input rounded outlined v-model="form.eventDate" readonly>
        <template v-slot:append>
          <q-icon name="ti-calendar" class="cursor-pointer">
            <q-popup-proxy
              ref="qDateProxy"
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="form.eventDate"
                today-btn
                @input="() => $refs.qDateProxy.hide()"
                mask="DD/MM/YYYY"
                :options="validDates"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>

      <div class="q-gutter-sm">
        <div>
          Areas:
        </div>
        <div>
          <q-checkbox
            v-for="map in maps"
            :key="map[0]"
            v-model="chosenMaps"
            :val="map[0]"
            :label="map[1]"
            color="teal"
          />
        </div>
      </div>

      <div>
        <q-btn label="Submit" type="submit" class="button-gradient" />
        <q-btn label="Reset" type="reset" flat class="q-ml-sm text-gradient" />
      </div>
    </q-form>
  </q-card>
</template>

<script>
import { date } from "quasar";
const { formatDate } = date;

const eventObj = Object.freeze({
    eventName: "",
    eventDate: formatDate(new Date(), "DD/MM/YYYY"),
    eventGuestListCount: 100,
    eventImg: "",
    eventEntryPrice: 0
});

export default {
    name: "EventCreateForm",
    props: {
        maps: {
            type: Array,
            required: true
        }
    },
    data () {
        return {
            form: { ...eventObj },
            chosenMaps: [...this.maps.map((map) => {
                return map[0];
            })]
        };
    },

    methods: {
        onSubmit () {
            this.$emit("create", {
                ...this.form,
                map: this.chosenMaps
            });
            this.form = eventObj;
        },

        onReset () {
            this.form = { ...eventObj };
        },

        validDates (calendarDate) {
            return (
                new Date(calendarDate).toISOString().substr(0, 10) >=
        new Date().toISOString().substr(0, 10)
            );
        },

        onFileChosen (event) {
            const pickedFile = event.target.files[0];
            if (!pickedFile) {
                return;
            }

            const fr = new FileReader();
            fr.onload = () => {
                const dataUrl = fr.result.toString();
                this.form.eventImg = dataUrl;
            };
            fr.readAsDataURL(pickedFile);
        }
    }
};
</script>
