<template>
  <q-dialog ref="dialog" @hide="onDialogHide" persistent>
    <q-card class="q-dialog-plugin AddTableDialog">
      <q-banner inline-actions rounded class="bg-gradient text-white">
        <template v-slot:avatar>
          <q-btn
            round
            class="q-mr-sm"
            flat
            icon="ti-close"
            @click="onOKClick"
          />
        </template>
        TABLE {{ tableId }}

        <template v-slot:action>
          <q-btn
            round
            flat
            icon="ti-trash"
            class="button-gradient--negative"
            @click="onCancelClick"
          />
        </template>
      </q-banner>

      <q-separator dark inset />
      <q-card-section>
        <div class="text-h6">NAME: {{ reservation.guestName }}</div>
        <div class="text-h6">PAX: {{ reservation.numberOfGuests }}</div>
        <div v-if="reservation.guestContact" class="text-h6">
          CONTACT: {{ reservation.guestContact }}
        </div>
        <div v-if="reservation.reservationNote" class="text-h6">
          NOTE: {{ reservation.reservationNote }}
        </div>
        <div class="text-h6">
          RESERVED BY: {{ reservation.reservedBy.email }}
        </div>
        <q-separator />
        <div v-if="reservation.groupedWith && reservation.groupedWith.length">
          Grouped with:
          <q-chip
            v-for="table in reservation.groupedWith"
            :key="table"
            square
            class="bg-gradient"
            text-color="white"
          >
            {{ table }}
          </q-chip>
        </div>
        <q-separator />
        <q-item tag="label" v-ripple>
          <q-item-section>
            <q-item-label>GUEST ARRIVED?</q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-btn-toggle
              v-model="checked"
              toggle-color="positive"
              unelevated
              style="border: 1px solid black"
              @input="onReservationChange('came', $event)"
              :options="[
                { label: 'No', value: false },
                { label: 'Yes', value: true }
              ]"
            />
          </q-item-section>
        </q-item>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions } from "vuex";
import { showErrorMessage } from "../../helpers/UI-helpers";
export default {
    name: "EventShowReservation",
    props: {
        eventId: {
            type: String | Number,
            required: true
        },
        region: {
            type: Object,
            required: true
        },
        reservation: {
            type: Object,
            required: true
        },
        tableId: {
            type: Number | String,
            required: true
        }
    },
    data () {
        return { checked: this.reservation.came };
    },
    methods: {
        ...mapActions("events", ["updateReservation"]),
        async onReservationChange (prop, $event) {
            this.$q.loading.show();
            try {
                await this.updateReservation({
                    prop,
                    val: $event,
                    region: this.region,
                    reservation: this.reservation,
                    eventId: this.eventId
                });
                this.checked = $event;
            } catch (e) {
                showErrorMessage(e);
            }
            this.$q.loading.hide();
        },
        /* Following method is REQUIRED
           (don't change its name --> "show") */
        show () {
            this.$refs.dialog.show();
        },

        /* Following method is REQUIRED
           (don't change its name --> "hide") */
        hide () {
            this.$refs.dialog.hide();
        },

        onDialogHide () {
            /* Required to be emitted
               when QDialog emits "hide" event */
            this.$emit("hide");
        },

        onOKClick () {
            this.$emit("ok");
            // Or with payload: this.$emit('ok', { ... })

            // Then hiding dialog
            this.hide();
        },

        onCancelClick () {
            this.$emit("cancel");
            // We just need to hide dialog
            this.hide();
        }
    }
};
</script>
