<template>
    <div class="EventGuestListCreateGuestForm">
        <button @click="$emit('create', {
            name: 'Johny Depp',
            came: false,
            cameAt: ''
        })">CREATE</button>
    </div>
</template>

<script>
export default { name: "EventGuestListCreateGuestForm" };
</script>
