import { mapActions } from 'vuex';
<template>
  <div class="EventGuestList">
    <!-- Page title -->
    <h5 class="q-ma-sm text-weight-bolder">Guest List</h5>

    <q-separator class="q-mb-md bg-grey-9"></q-separator>

    <!-- Add new guest modal button -->
    <q-btn
        fab-mini
        icon="ti-user"
        class="absolute button-gradient--negative"
        style="top: .4%; right: 2%; z-index: 2;"
        @click="showAddNewGuestForm = !showAddNewGuestForm"
    />

    <!-- Create new guest form -->
    <q-dialog v-model="showAddNewGuestForm">
        <EventGuestListCreateGuestForm @create="addGuest" />
    </q-dialog>

    <!-- Guestlist container containing all of the guests -->
    <div class="EventGuestList__container">
        <EventGuestListItem
            v-for="guest in guestList"
            :key="guest.id"
            :guest="guest"
            @delete="deleteGuest"
            @confirm="confirmGuest"
        />
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { showErrorMessage, showConfirm } from "../../helpers/UI-helpers";
import EventGuestListItem from "./EventGuestListItem";
import EventGuestListCreateGuestForm from "./EventGuestListCreateGuestForm";
const Guest = Object.freeze({
    name: "",
    came: false,
    cameAt: ""
});
export default {
    name: "EventGuestList",
    components: {
        EventGuestListItem,
        EventGuestListCreateGuestForm
    },
    data () {
        return {
            eventID: "",
            showAddNewGuestForm: false
        };
    },
    computed: { ...mapState("events", ["guestList"]) },
    methods: {
        ...mapActions(
            "events",
            [
                "addGuestToGuestList",
                "deleteGuestFromGuestList"
            ]
        ),
        addGuest (newGuestData) {
            this.addGuestToGuestList({
                eventID: this.eventID,
                payload: newGuestData
            });
            this.showAddNewGuestForm = false;
        },
        async deleteGuest (guestID) {
            if (!await showConfirm("Do you really want to delete this guest from the guestlist?")) {
                return;
            }
            this.deleteGuestFromGuestList({
                eventID: this.eventID,
                guestID
            });
        },
        confirmGuest () {
            // Something
        }
    },
    created () {
        this.eventID = this.$route.params.id;
    }
};
</script>
