<template>
    <div class="EventGuestListItem">
        <span :class="{ 'strikeTrough': guest.came }">
            {{ guest.name }}
        </span>
        <q-btn
            flat
            round
            @click="$emit('confirm', guest.id)"
        >
            <q-icon class="text-gradient" size="2rem" name="ti-check-box" />
        </q-btn>
        <q-btn
            flat
            round
            size="small"
            @click="$emit('delete', guest.id)"
        >
            <q-icon color="negative" size="2rem" name="ti-trash" />
        </q-btn>
    </div>
</template>

<script>
export default {
    name: "EventGuestListItem",
    props: {
        guest: {
            required: true,
            type: Object
        }
    }
};
</script>

<style lang="scss">
.EventGuestListItem {
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 1rem;

    &:not(:last-child) {
        border-bottom: 1px solid $grey;
    }

    span {
        margin-right: auto;
        &.strikeTrough {
            text-decoration: line-through;
        }
    }
}
</style>
