<template>
  <div class="EventsList">
    <h5 class="q-ma-sm text-weight-bolder">{{ title }}</h5>
    <template v-if="events.length">
      <div class="row">
        <template v-for="event in events">
          <EventItem :key="event.id" :event="event" />
        </template>
      </div>
    </template>
    <template v-else>
      <h5 data-cy="no-special-events" class="q-ma-sm text-weight-bolder">
        {{ $i18n.t("no-special-events") }}
      </h5>
    </template>
  </div>
</template>

<script>
import EventItem from "./EventItem";
export default {
    name: "EventsList",
    props: {
        title: { type: String },
        events: {
            required: true,
            type: Array
        }
    },
    components: { EventItem }
};
</script>
<style lang="scss">
.EventsList {
  @media only screen and (max-width: 500px) {
    .label {
      padding: 4px 8px !important;
      .event-name {
        font-size: 1rem;
        line-height: 1.1rem;
        margin-bottom: 0.35rem;
      }
      .event-date {
        font-size: 0.7rem;
        line-height: 0.8rem;
      }
    }
  }
}
</style>
