<template>
  <div class="col-6 col-md-4 q-pa-xs" data-cy="special-events">
    <router-link :to="{ name: 'event', params: { id: event.id } }">
      <q-card class="my-card">
        <q-img style="background-color: grey" :src="event.img" basic :ratio="1">
          <div class="absolute-bottom label">
            <div class="text-h6 event-name">{{ event.eventName }}</div>
            <div class="text-subtitle2 event-date">
              {{ event.eventDate | formatEventDate }}
            </div>
          </div>
          <q-badge style="position: absolute; bottom: 0; right: 0"
            >{{ event.eventEntryPrice }}e</q-badge
          >
        </q-img>
      </q-card>
    </router-link>
  </div>
</template>

<script>
export default {
    name: "EventItem",
    props: {
        event: {
            type: Object,
            required: true
        }
    }
};
</script>
