<template>
  <q-dialog ref="dialog" @hide="onDialogHide" persistent>
    <q-card class="q-dialog-plugin AddTableDialog">
      <q-banner inline-actions rounded class="bg-gradient text-white">
        <template v-slot:avatar>
          <q-btn round flat icon="ti-close" @click="onCancelClick" />
        </template>
        TABLE {{ tableId }}

        <template v-slot:action>
          <q-btn unelevated class="q-mr-sm" outline @click="onOKClick"
            >Create
          </q-btn>
        </template>
      </q-banner>

      <q-card-section>
        <q-form class="q-gutter-md" ref="reservationForm">
          <q-select
            hint="Group multiple tables under the one reservation."
            outlined
            rounded
            v-model="data.groupedWith"
            multiple
            :options="freeTables"
            label="Group with"
          />

          <q-input
            rounded
            outlined
            v-model="data.guestName"
            label="Guest name *"
            hint="Enter the guests name"
            lazy-rules
            :rules="[val => (val && val.length > 0) || 'Please type something']"
          />
          <q-input
            rounded
            outlined
            v-model="data.numberOfGuests"
            type="number"
            label="Number of persons *"
            hint="Enter number of guests"
            lazy-rules
            :rules="[val => (val < 20 && val > 0) || 'Please type something']"
          />
          <q-input
            rounded
            outlined
            v-model="data.guestContact"
            label="Contact of guest"
            hint="Enter guest contact"
          />
          <q-input
            rounded
            outlined
            v-model="data.reservationNote"
            label="Note"
            hint="Enter the note"
          />
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
    name: "EventCreateReservation",
    props: {
        tableId: {
            type: Number | String,
            required: true
        },
        region: {
            type: Object,
            required: true
        }
    },
    data () {
        return {
            data: {
                guestName: "",
                numberOfGuests: 2,
                guestContact: "",
                reservationNote: "",
                groupedWith: []
            }
        };
    },
    computed: {
        freeTables () {
            return this.region.data
                .filter((table) => {
                    return !table.reservation;
                })
                .map((table) => {
                    return table.id;
                });
        }
    },
    methods: {
    /* Following method is REQUIRED
       (don't change its name --> "show") */
        show () {
            this.$refs.dialog.show();
        },

        /* Following method is REQUIRED
           (don't change its name --> "hide") */
        hide () {
            this.$refs.dialog.hide();
        },

        onDialogHide () {
            /* Required to be emitted
               when QDialog emits "hide" event */
            this.$emit("hide");
        },

        async onOKClick () {
            const isFormValid = await this.$refs.reservationForm.validate();
            if (!isFormValid) {
                return;
            }
            /* On OK, it is REQUIRED to
               emit "ok" event (with optional payload)
               before hiding the QDialog */
            this.data.groupedWith.push(this.tableId);
            this.$emit("ok", this.data);
            // Or with payload: this.$emit('ok', { ... })

            // Then hiding dialog
            this.hide();
        },

        onCancelClick () {
            // We just need to hide dialog
            this.hide();
        }
    }
};
</script>
