<template>
  <div class="FTAutocomplete">
    <q-input
      dark
      v-model="searchTerm"
      label="Search tables..."
      @input="onTablesSearch"
      clearable
      dense
      debounce="10"
      @clear="$emit('clear')"
    />
    <div class="FTAutocomplete__results">
      <span
        v-for="table in foundTables"
        :key="table.id"
        @click="onFoundTableClick(table)"
        >{{ table.reservation.guestName }} on {{ table.id }} in
        {{ table.region }}</span
      >
    </div>
  </div>
</template>

<script>
export default {
    name: "FTAutocomplete",
    props: {
        options: {
            type: Array,
            required: true
        }
    },
    data () {
        return {
            searchTerm: "",
            foundTables: []
        };
    },
    methods: {
        onTablesSearch ($e) {
            this.foundTables =
            this.searchTerm &&
            this.options.filter((table) => {
                return table.reservation.guestName.toLowerCase().startsWith($e.toLowerCase());
            }
            );
        },
        onFoundTableClick (table) {
            this.$emit("found", table);
        }
    }
};
</script>
<style lang="scss">
.FTAutocomplete {
  position: relative;
  padding: 0 0.6rem;
  &__results {
    position: absolute;
    top: 100%;
    left: 1rem;
    right: 0;
    width: 100%;
    margin: 0 -16px;
    padding-left: 0.5rem;

    span {
      padding: 3px 6px;
      margin: 0.1rem;
      border-radius: 10px;
      display: inline-block;
      color: white;
      background: linear-gradient(to top left, #ff8a00, #e52e71);
    }
  }
}
</style>
