<template>
    <div class="PageProfile">
        <template v-if="user">
            <!-- Page title -->
            <h5 class="q-ma-sm text-weight-bolder">
                Profile of {{ user.name }}
            </h5>

            <!-- Infos -->
            <div>
                <img v-if="user.avatar" :src="user.avatar" :alt="user.email" />
            </div>
            <div>
                <p>Email: {{ user.email }}</p>
                <p v-if="user.name">Name: {{ user.name }}</p>
                <p>Role: {{ user.role }}</p>
                <p>Region: {{ user.region }}</p>
                <p v-if="user.address">{{ user.address }}</p>
                <p v-if="user.mobile">{{ user.mobile }}</p>
            </div>
        </template>
        <template v-else>no user</template>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    name: "PageProfile",
    computed: { ...mapState("auth", ["user"]) }
};
</script>
