<template>
  <div class="PageHome">
    <template v-if="upcomingEvents.length">
      <!-- Page title -->
      <h5 class="q-ma-sm text-weight-bolder">Upcoming Events</h5>
      <carousel>
        <slide v-for="event in upcomingEvents" :key="event.id">
          <EventItem :event="event" />
        </slide>
      </carousel>

      <q-separator class="q-mt-md"></q-separator>
    </template>

    <FTFeed title="Feed" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { Carousel, Slide } from "vue-carousel";
import FTFeed from "../components/Feed/FTFeed";
import EventItem from "../components/Event/EventItem";

export default {
    name: "Home",
    components: {
        Carousel,
        Slide,
        EventItem,
        FTFeed
    },
    computed: { ...mapGetters("events", ["upcomingEvents"]) }
};
</script>
