<template>
  <div class="PageAuth">
    <div class="row window-height items-center q-pa-md">
      <div class="col">
        <q-form ref="authForm">
          <h1 class="text-h5 text-center">Welcome to Firetable</h1>
          <q-input
            rounded
            class="q-mb-md"
            outlined
            v-model="email"
            label="Email *"
            hint="Enter your work email"
            type="email"
            lazy-rules
            :rules="[
              val => (val && val.length > 0) || 'Please enter valid email'
            ]"
            data-cy="email"
          />

          <q-input
            v-model="password"
            class="q-mb-md"
            rounded
            outlined
            label="Password *"
            :type="isPwd ? 'password' : 'text'"
            hint="Enter your password"
            :rules="[
              val =>
                (val && val.length > 5) ||
                'Please enter your password, it has to contain minimum 5 characters.'
            ]"
            data-cy="password"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'ti-eye' : 'ti-eye'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>

          <q-btn
            rounded
            size="md"
            label="Login"
            @click="onSubmit"
            class="button-gradient q-ml-md"
            data-cy="login"
          />
        </q-form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { showErrorMessage } from "../helpers/UI-helpers";

const authForm = Object.freeze({
    email: "",
    password: "",
    isPwd: true
});

export default {
    name: "Auth",
    data () {
        return { ...authForm };
    },
    methods: {
        ...mapActions("auth", ["loginUser"]),
        async onSubmit () {
            const valid = await this.$refs.authForm.validate();
            if (!valid) {
                return;
            }

            this.$q.loading.show();
            try {
                const {
                    email, password
                } = this;
                await this.loginUser({
                    email,
                    password
                });
                this.$router.replace("/");
            } catch (e) {
                showErrorMessage(e);
            }

            this.$q.loading.hide();
        }
    }
};
</script>
