<template>
  <div class="CreatePlaceForm">
    <q-card>
      <q-banner inline-actions rounded class="bg-gradient text-white">
        <template v-slot:avatar>
          <q-btn
            @click="$emit('close')"
            round
            class="q-mr-sm"
            flat
            icon="ti-close"
            type="submit"
          />
        </template>
        Create new place
      </q-banner>

      <q-img v-if="form.img" :src="form.img" :ratio="1" class="q-mb-md" />
      <div v-else class="q-pa-lg q-mb-md bg-grey text--black text-center">
        Place photo
      </div>
      <q-btn
        class="button-gradient q-ml-md"
        icon="ti-camera"
        @click="$refs.filePicker.click()"
        label="Upload a photo"
      />

      <q-form
        @submit="onSubmit"
        @reset="onReset"
        class="q-gutter-md q-pt-md q-pa-md"
      >
        <q-input rounded outlined v-model="form.name" label="Place Name*" />
        <q-input
          rounded
          outlined
          v-model="form.address"
          label="Place address"
        />

        <div>
          <q-btn label="Submit" type="submit" class="button-gradient" />
          <q-btn
            label="Reset"
            type="reset"
            color="primary"
            flat
            class="q-ml-sm"
          />
        </div>
      </q-form>
    </q-card>

    <input
      ref="filePicker"
      type="file"
      accept="image/jpeg"
      required
      @change="onFileChosen($event)"
      style="display: none"
    />
  </div>
</template>

<script>
import { Place } from "../../config/places";
export default {
    name: "CreatePlaceForm",
    data () {
        return { form: { ...Place } };
    },
    methods: {
        onSubmit () {
            this.$emit("submit", this.form);
        },
        onReset () {
            this.form = { ...Place };
        },
        onFileChosen (event) {
            const pickedFile = event.target.files[0];
            if (!pickedFile) {
                return;
            }

            const fr = new FileReader();
            fr.onload = () => {
                const dataUrl = fr.result.toString();
                this.form.img = dataUrl;
            };
            fr.readAsDataURL(pickedFile);
        }
    }
};
</script>

<style>
.CreatePlaceForm {
  width: 100%;
}
</style>
