// app global css
@-o-viewport
  user-zoom: fixed

* {
  font-family: 'Raleway', sans-serif;
}

.button-gradient
  background-image: $gradient-primary
  color: white
  background-color: transparent;
  background-size: 200% 100%;
  background-position: 50%;
  transition: background-position .1s ease-out;
  &:hover
    background-position: 10%;
    background-color: unset;
  &--negative
    background-image: $gradient-negative
    color: white
  &--success
    background-image: $gradient-success


.text-gradient
  background: $gradient-secondary
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;

.bg-darker
  background-color: $bg-dark

.bg-gradient
  background: $gradient-primary
