<template>
  <div id="q-app" class="dimmed-background">
    <router-view />
  </div>
</template>

<script>
import { QSpinnerGrid, colors } from "quasar";
const { getBrand } = colors;
export default {
    name: "App",
    created () {
        this.$q.loading.setDefaults({
            spinner: QSpinnerGrid,
            spinnerColor: getBrand("accent"),
            spinnerSize: "5.5em"
        });
    }
};
</script>

<style></style>
