<template>
  <q-dialog ref="dialog" @hide="onDialogHide" persistent>
    <q-card class="q-dialog-plugin AddTableDialog">
      <q-card-section>
        <div class="text-h6">Table ID</div>
      </q-card-section>

      <q-card-section>
        <q-form class="q-gutter-md" ref="addTableForm">
          <q-input rounded outlined v-model="tableId" autofocus :rules="tableIdRules" />
        </q-form>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn color="primary" label="OK" @click="onOKClick" />
        <q-btn color="primary" label="Cancel" @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
    props: {
        ids: {
            type: Array,
            required: true
        },
        id: {
            type: Number | String,
            required: false
        }
    },
    data () {
        return { tableId: this.id };
    },
    methods: {
        show () {
            this.$refs.dialog.show();
        },

        hide () {
            this.$refs.dialog.hide();
        },

        onDialogHide () {
            this.$emit("hide");
        },

        async onOKClick () {
            const isFormValid = await this.$refs.addTableForm.validate();
            if (!isFormValid) {
                return;
            }
            this.$emit("ok", this.tableId);
            this.hide();
        },

        onCancelClick () {
            this.hide();
        }
    },
    computed: {
        tableIdRules () {
            return [
                (val) => {
                    return val && val > 0 || "id is invalid";
                },
                (val) => {
                    return !this.ids.includes(val) || this.id === this.tableId || "Id is taken";
                }
            ];
        }
    }
};
</script>
