<template>
  <div class="MapEditor">
    <div class="MapEditor__controls q-mb-sm">
      <q-btn-group rounded unelevated spread>
        <q-btn
          rounded
          dense
          v-for="region in map"
          :key="region.id"
          :class="
            isActiveMap(`${region.id}`)
              ? 'button-gradient'
              : 'button-gradient--negative'
          "
          :label="region.name"
          @click.prevent="setActiveMap(`${region.id}`)"
        />

        <q-btn
          rounded
          icon="ti-plus"
          class="button-gradient--negative"
          @click="addNewRegion"
        />
      </q-btn-group>
    </div>

    <div
      v-for="region in map"
      :key="region.id"
      class="MapEditor__svg-container tab-pane"
      :class="{ 'active show': isActiveMap(`${region.id}`) }"
      ref="mapEditor"
    >
      <q-input
        :value="region.name"
        @input="onRegionNameChange($event, region)"
        label="Region name"
      />
      <div class="row">
        <div class="col-6">
          <q-badge color="secondary"
            >Width: {{ region.width }} (300 to 900)</q-badge
          >
          <q-slider
            :value="parseInt(region.width)"
            @change="onRegionChange($event, 'width', region)"
            :min="300"
            :max="900"
            :step="10"
            label
            color="deep-orange"
          />
        </div>
        <div class="col-6">
          <q-badge color="secondary"
            >Height: {{ region.height }} (300 to 900)</q-badge
          >
          <q-slider
            :value="parseInt(region.height)"
            @change="onRegionChange($event, 'height', region)"
            :min="300"
            :max="900"
            :step="10"
            label
            color="deep-orange"
          />
        </div>
      </div>
      <q-btn-group
        unelevated
        class="absolute"
        style="top: 10px; right: 0px; z-index: 2;"
      >
        <q-btn
          class="button-gradient--negative"
          icon="ti-save"
          @click="saveRegion(region)"
        />
        <q-btn
          icon="ti-trash"
          class="button-gradient--negative"
          @click="onRegionDelete(region.id)"
        />
      </q-btn-group>
    </div>
  </div>
</template>

<script>
import { settings } from "../../services/firebase/db";
import Map, { MODES, TABLE_MODES } from "../../classes/Map";
import { showConfirm, showErrorMessage } from "../../helpers/UI-helpers";
import AddTableDialog from "../Map/AddTableDialog";

export default {
    name: "MapEditor",
    props: {
        data: {
            type: Promise | Array,
            required: true
        },
        mode: {
            type: String,
            required: false,
            default: MODES.EDITOR
        }
    },
    data () {
        return {
            map: [],
            activeMap: ""
        };
    },

    methods: {
        isActiveMap (mapId) {
            return this.activeMap === mapId;
        },
        setActiveMap (mapId) {
            this.activeMap = mapId;
        },
        async addNewRegion () {
            const newRegion = Map.buildRegion({
                id: settings().doc().id,
                mode: this.mode,
                dblClickHandler: this.dblClickHandler,
                tableClickHandler: this.onTableClickHandler
            });
            this.map.push(newRegion);

            await this.$nextTick();
            newRegion.el = this.$refs.mapEditor[this.map.length - 1];
            newRegion.init();

            this.setActiveMap(newRegion.id);
        },

        async onRegionDelete (id) {
            const isConfirmed = await showConfirm("Delete region");
            if (!isConfirmed) {
                return;
            }
            this.$q.loading.show();
            try {
                await settings()
                    .doc("defaultMap")
                    .collection("regions")
                    .doc(id)
                    .delete();
                this.map = this.map.filter((map) => {
                    return map.id !== id;
                });
                this.setActiveMap(this.map.length && this.map[0].id);
            } catch (e) {
                showErrorMessage(e);
            }
            this.$q.loading.hide();
        },

        saveRegion (region) {
            this.$emit("change", region);
        },

        /**
     * Set region name to a new name
     *
     * @param  {string} event
     * @param  {obj}    region
     *
     * @return {void}
     */
        onRegionNameChange (event, region) {
            region.name = event;
            region.data.forEach((table) => {
                table.region = event;
            });
        },
        onRegionChange (event, prop, region) {
            region[prop] = event;
            region.init();
        },
        /**
     * Double click handler for map editor
     * Every time double click occurs we prompt the user and add a new table
     *
     * @param  {Map} region
     * @param  {Array} [x, y]
     *
     * @return {void}
     */
        dblClickHandler (map, [x, y]) {
            const { data } = map;
            this.$q
                .bottomSheet({
                    message: "Choose action",
                    grid: true,
                    actions: [
                        {
                            label: "Standard",
                            icon: "ti-control-stop",
                            id: TABLE_MODES.STANDARD
                        },
                        {
                            label: "Tall",
                            icon: "ti-layout-column2",
                            id: TABLE_MODES.TALL
                        },
                        {
                            label: "Wide",
                            icon: "ti-layout-accordion-separated",
                            id: TABLE_MODES.WIDE
                        },
                        {
                            label: "Round",
                            icon: "ti-control-record",
                            id: TABLE_MODES.ROUND
                        }
                    ]
                })
                .onOk((action) => {
                    this.$q
                        .dialog({
                            component: AddTableDialog,
                            regions: ["moet", "tesla"],
                            ids: data.map((table) => {
                                return table.id;
                            })
                        })
                        .onOk((id) => {
                            data.push({
                                id,
                                region: map.name,
                                x,
                                y,
                                type: action.id
                            });
                            map.init();
                        });
                });
        },
        onTableClickHandler (map, {
            id, region
        }) {
            const data = [...map.data];
            this.$q
                .bottomSheet({
                    message: "Choose action",
                    grid: true,
                    actions: [
                        {
                            label: "Delete",
                            icon: "ti-trash",
                            id: "delete"
                        },
                        {
                            label: "Edit",
                            icon: "ti-pencil",
                            id: "edit"
                        }
                    ]
                })
                .onOk((action) => {
                    switch (action.id) {
                    case "delete":
                        map.data = data.filter((table) => {
                            return table.id !== id;
                        });
                        map.init();
                        break;

                    case "edit":
                        this.editTable(map, id);
                        break;
                    default:
                        break;
                    }
                });
        },

        editTable (map, id) {
            this.$q
                .dialog({
                    component: AddTableDialog,
                    id,
                    ids: map.data.map((table) => {
                        return table.id;
                    })
                })
                .onOk((newId) => {
                    const findTable = map.data.find((table) => {
                        return table.id === id;
                    });
                    if (findTable) {
                        findTable.id = newId;
                    }
                    map.init();
                });
        },
        /**
     * Inits the data and instantiates the Map Object to manipulate the svg map element
     */
        async init () {
            const resolvedData = await this.data();

            resolvedData.forEach(
                async ({
                    id, name, tables, height, width
                }, index) => {
                    const newMap = Map.buildRegion({
                        id,
                        name,
                        data: tables,
                        height,
                        width,
                        mode: this.mode,
                        dblClickHandler: this.dblClickHandler,
                        tableClickHandler: this.onTableClickHandler
                    });
                    this.map.push(newMap);

                    await this.$nextTick();
                    newMap.el = this.$refs.mapEditor[index];
                    newMap.init();
                }
            );
            if (this.map.length) {
                this.setActiveMap(this.map[0].id);
            }
        }
    },
    mounted () {
        this.init();
    }
};
</script>

<style lang="scss">
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.MapEditor {
  &__controls {
    margin-top: -10px;
  }
  &__svg-container {
    position: relative;
  }
  &__SVG {
    margin-left: -16px;
    margin-right: -16px;
    background-color: #fff;
    cursor: default;
    user-select: none;
    padding: 1px;
    border: 1px solid #f0f0f0;
  }
}

g.tableGroup.active rect,
g.tableGroup.active circle {
  fill: #ff8a00 !important;
}

rect.table,
circle.table {
  stroke-width: 1.5px;
  cursor: pointer;
  pointer-events: none;
}

text.table__id {
  fill: #fff;
  font-weight: bold;
  text-anchor: middle;
}

line {
  stroke: #f0f0f0;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
rect.selection {
  cursor: move !important;
  user-select: none !important;
  stroke: #545454;
  stroke-width: 2px;
  stroke-opacity: 1;
  fill: white;
  fill-opacity: 0.5;
}
</style>
