<template>
  <q-layout view="hHh lpR fFf" v-if="isLoggedIn">
    <q-drawer v-model="leftDrawerOpen" class="Drawer">
      <div
        v-if="user"
        style="height: calc(100% - 150px); margin-top: 150px; padding: .5rem"
      >
        <q-list padding>
          <q-item
            v-for="(link, index) in drawerLinks"
            :key="index"
            :to="{ name: link.routeName }"
            clickable
            v-ripple
          >
            <q-item-section avatar>
              <q-icon :name="link.icon" />
            </q-item-section>

            <q-item-section>
              {{ link.text }}
            </q-item-section>
          </q-item>
          <q-separator />
          <q-item clickable @click="logoutUser">
            <q-item-section avatar>
              <q-icon name="ti-share-alt" />
            </q-item-section>

            <q-item-section>Logout</q-item-section>
          </q-item>
        </q-list>

        <q-img
          class="absolute-top"
          src="https://cdn.quasar.dev/img/material.png"
          style="height: 150px"
        >
          <div class="absolute-bottom bg-transparent">
            <q-avatar
              v-if="!user.avatar"
              size="56px"
              class="q-mb-sm"
              color="primary"
              >{{ user.name.charAt(0) }}</q-avatar
            >
            <q-avatar v-else size="56px" class="q-mb-sm">
              <img :src="user.avatar" alt />
            </q-avatar>
            <div class="text-weight-bold">{{ user.name }}</div>
            <div>{{ user.email }}</div>
          </div>
        </q-img>
      </div>
    </q-drawer>

    <q-page-container>
      <q-page class="q-pa-md">
        <router-view padding style="padding-top: 51px" />
      </q-page>

      <q-page-sticky expand position="top" class="bg-white">
        <q-toolbar class="justify-center">
          <q-btn
            flat
            v-for="menu in menuLinks"
            :key="menu.icon"
            :to="{ name: menu.routeName }"
            exact
          >
            <q-icon size="1.5rem" :name="menu.icon" />
          </q-btn>
          <q-btn
            flat
            @click="leftDrawerOpen = !leftDrawerOpen"
            aria-label="Menu"
            data-cy="menu-button"
          >
            <q-icon class="text-gradient" size="2rem" name="ti-align-justify" />
          </q-btn>
        </q-toolbar>
      </q-page-sticky>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";

export default {
    name: "MyLayout",
    data () {
        return {
            leftDrawerOpen: false,
            menuLinks: [
                {
                    icon: "ti-home",
                    routeName: "home"
                },
                {
                    icon: "ti-layout-grid2",
                    routeName: "specialEvents"
                },
                {
                    icon: "ti-calendar",
                    routeName: "calendar"
                },
                {
                    icon: "ti-user",
                    routeName: "userProfile"
                }
            ],
            drawerLinks: [
                {
                    icon: "ti-layout-grid2",
                    text: "Manage Events",
                    routeName: "adminEvents"
                },
                {
                    icon: "ti-pin",
                    routeName: "adminPlaces",
                    text: "Manage Places"
                },
                {
                    icon: "ti-user",
                    routeName: "adminUsers",
                    text: "Manage Users"
                },
                {
                    icon: "ti-map",
                    routeName: "adminMaps",
                    text: "Manage Maps"
                },
                {
                    icon: "ti-settings",
                    routeName: "adminSettings",
                    text: "Settings"
                }
            ]
        };
    },
    computed: {
        ...mapState("auth", ["user"]),
        ...mapGetters("auth", ["isLoggedIn"])
    },
    methods: { ...mapActions("auth", ["logoutUser"]) }
};
</script>
