<template>
    <div class="PageEvent" v-if="event">
        <!-- Guestlist modal button -->
        <q-btn
            fab-mini
            icon="ti-music"
            class="absolute button-gradient--negative"
            style="top: 10%; right: 5%; z-index: 2;"
            @click="showGuestList = !showGuestList"
        />

        <!-- Guest List Drawer -->
        <q-drawer
            class="PageEvent__guest-list-drawer"
            side="right"
            v-model="showGuestList"
            content-class="PageEvent__guest-list-container text-white"
        >
            <EventGuestList />
        </q-drawer>

        <!-- Autocomplete component for map search -->
        <FTAutocomplete
            @found="onTableFound"
            @clear="onAutocompleteClear"
            label="Search tables"
            :options="options"
            use-chips
            dense
        />

        <!-- Maps in Event -->
        <div
            v-for="region in eventMaps"
            :key="region.id"
            class="eventMap tab-pane"
            :class="{ 'active show': isActiveMap(region.id) }"
            ref="eventMap"
        ></div>

        <!-- Maps switcher -->
        <q-page-sticky expand position="bottom" class="row">
            <q-btn-group
                class="PageEvent__map-switcher"
                spread
                v-if="eventMaps.length > 1"
            >
                <q-btn
                    rounded
                    dense
                    v-for="region in eventMaps"
                    :key="region.id"
                    :class="isActiveMap(region.id) ? 'button-gradient' : ''"
                    class="text-white"
                    style="border: 1px solid black"
                    :label="region.name"
                    @click.prevent="setActiveMap(region.id)"
                />
            </q-btn-group>
        </q-page-sticky>
    </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import Map, { MODES } from "../../classes/Map";
import EventCreateReservation from "../../components/Event/EventCreateReservation";
import EventShowReservation from "../../components/Event/EventShowReservation";
import EventGuestList from "../../components/Event/EventGuestList";
import FTAutocomplete from "../../components/Event/FTAutocomplete";
import { showConfirm, showErrorMessage } from "../../helpers/UI-helpers";

export default {
    name: "PageEvent",
    components: {
        FTAutocomplete,
        EventGuestList
    },
    data () {
        return {
            maps: [],
            activeMap: "",
            showGuestList: false
        };
    },
    computed: {
        ...mapState("events", ["event", "guestList", "eventMaps"]),
        options () {
            return this.maps
                .map((reg) => {
                    return reg.data;
                })
                .flat()
                .filter((v) => {
                    return v.reservation;
                });
        }
    },
    methods: {
        ...mapActions("events", [
            "initEvent",
            "initGuestList",
            "initEventMaps",
            "addReservation",
            "deleteReservation"
        ]),
        async onTableFound (table) {
            this.setActiveMap(this.findMapByName(table.region));

            await this.$nextTick();

            const {
                region, reservation
            } = table;
            const regionEl = document.querySelector(
                `.MapEditor__SVG.${region}`
            );

            if (!regionEl) {
                return;
            }
            reservation.groupedWith.forEach((id) => {
                const tableEl = regionEl.querySelector(`.table__${id}`);
                if (tableEl) {
                    tableEl.classList.toggle("table__blink");
                }
            });
        },
        onAutocompleteClear () {
            document
                .querySelectorAll(".table__blink")
                .forEach((el) => {
                    return el.classList.remove("table__blink");
                });
        },
        isActiveMap (mapId) {
            return this.activeMap === mapId;
        },
        setActiveMap (mapId) {
            this.activeMap = mapId;
        },
        findMapByName (mapName) {
            const found = this.maps.find((map) => {
                return map.name === mapName;
            });
            if (found && found.id) {
                return found.id;
            }
        },
        showReservation (region, reservation, tableId) {
            const { id } = this.$route.params;
            this.$q
                .dialog({
                    component: EventShowReservation,
                    parent: this,
                    eventId: id,
                    region,
                    reservation,
                    tableId
                })
                .onCancel(async () => {
                    if (!await showConfirm("Delete reservation?")) {
                        return;
                    }
                    this.$q.loading.show();
                    try {
                        await this.deleteReservation({
                            eventId: id,
                            tableId,
                            region,
                            reservation
                        });

                        this.$q.notify({
                            color: "danger",
                            textColor: "white",
                            icon: "ti-cross",
                            message: "Reservation deleted"
                        });
                    } catch (e) {}
                    this.$q.loading.hide();
                })
                .onDismiss(() => {
                    // TODO: Log here
                });
        },
        createReservation (region, tableId) {
            this.$q
                .dialog({
                    component: EventCreateReservation,
                    parent: this,
                    tableId,
                    region
                })
                .onOk(async (data) => {
                    await this.addReservation({
                        eventId: this.$route.params.id,
                        tableId,
                        region,
                        data
                    });
                })
                .onCancel(() => {
                    // TODO: Log here
                })
                .onDismiss(() => {
                    // TODO: Log here
                });
        },
        reserveHandler (region, {
            reservation, id
        }) {
            if (reservation) {
                this.showReservation(region, reservation, id);
            } else {
                this.createReservation(region, id);
            }
        },
        async init () {
            const { id } = this.$route.params;
            this.$q.loading.show();
            try {
                await Promise.all([
                    this.initEvent(id),
                    this.initEventMaps(id),
                    this.initGuestList(id)
                ]);

                this.eventMaps.forEach(
                    async ({
                        id: tableID, name, tables, width, height
                    }, index) => {
                        const newRegion = Map.buildRegion({
                            id: tableID,
                            name,
                            data: tables,
                            height,
                            width,
                            mode: MODES.LIVE,
                            doubleCLickHandler: null,
                            tableClickHandler: this.reserveHandler
                        });
                        this.maps.push(newRegion);
                        // We need to await for next tick for vDom to update the changes so we can access the map element
                        await this.$nextTick();
                        newRegion.el = this.$refs.eventMap[index];
                        newRegion.init();
                    }
                );
                if (this.maps.length) {
                    this.setActiveMap(this.maps[0].id);
                }
            } catch (e) {
                showErrorMessage(e);
            }
            this.$q.loading.hide();
        }
    },
    created () {
        this.init();
    },
    updated () {
        if (this.maps.length) {
            this.maps.forEach((map, index) => {
                map.data = this.eventMaps[index].tables;
                map.init();
            });
        }
    }
};
</script>

<style lang="scss">
.PageEvent {
    margin: -16px;
    background: #333;
    min-height: 100vh;
    padding-bottom: 35px;

    &__map-switcher {
        width: 100%;
    }
    &__guest-list-container {
        background-color: #222;
        padding: .5rem;
    }
}
.tab-pane {
    display: none;
}
.tab-pane.active {
    display: block;
}
.eventMap {
    svg {
        background-color: #444;
        cursor: default;
        user-select: none;
    }

    svg:not(.active):not(.ctrl) {
        cursor: default;
    }

    rect.table {
        stroke-width: 1.5px;
        cursor: pointer;
    }

    text.table__id {
        fill: #fff;
        font-weight: bold;
        text-anchor: middle;
    }
    rect.reserved.came,
    circle.reserved.came {
        fill: rgb(26, 119, 34) !important;
    }

    rect.table__blink,
    circle.table__blink {
        animation: blink 500ms linear infinite;
    }

    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0;
        }
    }
}
</style>
