<template>
  <div class="PageSpecialEvents">
    <EventsList title="Special Events" :events="events" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import EventsList from "../../components/Event/EventsList";

export default {
    name: "Home",
    components: { EventsList },
    computed: { ...mapState("events", ["events"]) }
};
</script>
