<template>
    <div v-if="event" class="PageAdminEvent">
        <h5 class="q-ma-sm text-weight-bolder">{{ event.eventName }}</h5>

        <!-- Event Chart -->
        <EventChart v-if="eventMaps.length" :eventData="eventData" />

        <!-- Delete event button -->
        <q-btn
            fab-mini
            icon="ti-trash"
            class="absolute button-gradient--negative"
            style="top: 10%; right: 5%; z-index: 2;"
            @click="confirm"
        />
    </div>
</template>

<script>
import EventChart from "../../components/Event/EventChart";
import { mapActions, mapState } from "vuex";

export default {
    name: "PageAdminEvent",
    components: { EventChart },
    data () {
        return { event: null };
    },

    computed: {
        ...mapState("events", ["eventMaps"]),
        eventData () {
            return this.eventMaps.map((event) => {
                return event.tables;
            }).flat();
        }
    },

    methods: {
        ...mapActions("events", ["getEvent", "deleteEvent", "initEventMaps"]),
        async init () {
            const { id } = this.$route.params;
            if (!id) {
                return this.$router.replace("/");
            }

            this.event = await this.getEvent(id);
            await this.initEventMaps(id);
        },

        confirm () {
            this.$q
                .dialog({
                    title: "Confirm",
                    message: "Are you sure?",
                    cancel: true,
                    persistent: true
                })
                .onOk(() => {
                    this.deleteEvent(this.event);
                });
        }
    },

    created () {
        this.init();
    }
};
</script>
