<template>
  <div class="PageAdminUsers">
    <!-- Page title -->
    <h5 class="q-ma-sm text-weight-bolder">Users</h5>

    <!-- Create user dialog component -->
    <q-dialog v-model="showCreateUserForm" v-if="defaultMap.length">
      <UserCreateForm
        @close="showCreateUserForm = false"
        :areas="areas"
        @submit="onCreateUser"
      />
    </q-dialog>

    <!-- Create new user button -->
    <q-btn
      fab-mini
      icon="ti-user"
      class="absolute button-gradient--negative"
      style="top: 10%; right: 5%; z-index: 2;"
      @click="showCreateUserForm = !showCreateUserForm"
    />

    <!-- Users list -->
    <template v-if="users.length">
      <div v-for="user in users" :key="user.id" class="q-mt-md">
        <q-expansion-item
          class="shadow-1 overflow-hidden"
          style="border-radius: 30px"
          :label="`${user.name} - ${user.email}`"
          header-class="bg-gradient text-white"
          expand-icon-class="text-white"
        >
          <q-card>
            <q-card-section> ROLE: {{ user.role }} </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
    </template>
  </div>
</template>
<script>
import { mapActions, mapState } from "vuex";
import UserCreateForm from "../../components/User/UserCreateForm";
import { showErrorMessage } from "../../helpers/UI-helpers";

export default {
    name: "PageAdminUsers",
    components: { UserCreateForm },
    data () {
        return { showCreateUserForm: false };
    },
    computed: {
        ...mapState("settings", ["defaultMap"]),
        ...mapState("auth", ["users"]),
        areas () {
            return this.defaultMap.map((map) => {
                return map.name;
            });
        }
    },
    methods: {
        ...mapActions("auth", ["createNewUser", "initUsers"]),
        ...mapActions("settings", ["initDefaultMap"]),
        async onCreateUser (newUser) {
            this.$q.loading.show();
            try {
                await this.createNewUser(newUser);
                this.showCreateUserForm = false;
            } catch (e) {
                showErrorMessage(e);
            }
            this.$q.loading.hide();
        }
    },
    created () {
        const initPromises = [];
        if (!this.defaultMap.length) {
            this.initDefaultMap();
        }
        if (!this.users.length) {
            this.initUsers();
        }
    }
};
</script>
