<template>
  <div class="PageAdminEvents">
    <!-- Page title -->
    <h5 class="q-ma-sm text-weight-bolder">Events</h5>

    <!-- Create new event button -->
    <q-btn
      fab-mini
      icon="ti-music"
      class="absolute button-gradient--negative"
      style="top: 10%; right: 5%; z-index: 2;"
      @click="showCreateEventForm = !showCreateEventForm"
    />

    <!-- Create new event dialog -->
    <q-dialog v-model="showCreateEventForm">
      <EventCreateForm
        @create="onCreateEvent"
        :maps="defaultMap.map(map => [map.id, map.name])"
      />
    </q-dialog>

    <!-- Search input for algolia -->
    <q-input
      debounce="500"
      v-model="searchQuery"
      @input="search"
      label="Search Events"
    />

    <!-- List of events -->
    <q-list ref="scrollTargetRef" v-if="eventsToShow.length">
      <q-infinite-scroll
        @load="onLoad"
        :offset="100"
        :scroll-target="$refs.scrollTargetRef"
      >
        <q-item
          v-for="event in eventsToShow"
          :key="event.id"
          :to="{ name: 'adminEvent', params: { id: event.id } }"
        >
          <q-item-section>
            <q-item-label>{{ event.eventName }}</q-item-label>
            <q-item-label caption lines="2">{{ event.date }}</q-item-label>
          </q-item-section>

          <q-item-section side top>
            <q-item-label caption>
              {{ event.eventDate | formatEventDate }}
            </q-item-label>
          </q-item-section>
        </q-item>

        <q-separator spaced inset />
        <template v-slot:loading>
          <div class="row justify-center q-my-md">
            <q-spinner-dots color="primary" size="40px" />
          </div>
        </template>
      </q-infinite-scroll>
    </q-list>
  </div>
</template>

<script>
import algoliaSearch from "algoliasearch/lite";
import { TABLES } from "../../services/firebase/db";
import { mapActions, mapState } from "vuex";
import EventCreateForm from "../../components/Event/EventCreateForm";
import { showErrorMessage } from "../../helpers/UI-helpers";

export default {
    name: "PageAdminEvents",
    components: { EventCreateForm },
    data () {
        return {
            showCreateEventForm: false,
            searchQuery: "",
            searchClient: null,
            index: null,
            searchResult: []
        };
    },

    computed: {
        ...mapState("events", ["adminSpecialEvents"]),
        ...mapState("settings", ["defaultMap"]),
        eventsToShow () {
            if (!this.searchQuery || !this.index) {
                return this.adminSpecialEvents;
            }
            return this.searchResult;
        }
    },

    methods: {
        ...mapActions("settings", ["initDefaultMap"]),
        ...mapActions("events", ["createEvent", "initAdminSpecialEvents"]),
        initAlgolia () {
            this.searchClient = algoliaSearch(
                process.env.ALGOLIA_ID,
                process.env.ALGOLIA_SEARCH
            );
            this.index = this.searchClient.initIndex(
                process.env.TABLE_PREFIX.toLowerCase() + TABLES.EVENTS
            );
        },
        async search () {
            const searchRes = await this.index.search({ query: this.searchQuery });
            this.searchResult = searchRes.hits;
        },
        async init () {
            try {
                await Promise.all[
                    this.initAdminSpecialEvents(),
                    this.initDefaultMap()
                ];
            } catch (e) {
                showErrorMessage(e);
            }
        },
        onCreateEvent (eventData) {
            this.showCreateEventForm = false;
            this.createEvent(eventData);
        },
        onLoad (index, done) {
            done();
        }
    },
    created () {
        this.init();
        this.initAlgolia();
    }
};
</script>
