<template>
  <div>
    <h5 class="q-ma-sm text-weight-bolder">Places</h5>
    <q-dialog v-model="showCreateNewPlaceForm">
      <CreatePlaceForm @close="showCreateNewPlaceForm = false" />
    </q-dialog>
    <!-- Create new place button -->
    <q-btn
      fab-mini
      icon="ti-map"
      class="absolute button-gradient--negative"
      style="top: 10%; right: 5%; z-index: 2;"
      @click="showCreateNewPlaceForm = !showCreateNewPlaceForm"
    />
  </div>
</template>
<script>
import CreatePlaceForm from "../../components/Place/CreatePlaceForm";
export default {
    name: "PageAdminPlaces",
    components: { CreatePlaceForm },
    data () {
        return { showCreateNewPlaceForm: false };
    }
};
</script>
